.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #E8E6E6;
    margin: 0px;
    padding: 0px;
}
.Fond {
    text-align: center;
    background-color: gold ;
    font-weight: normal;
    font-size: 100px;
}

.Bgblack {
    background-color: black;
    padding-top: 20px;
}
.boutonPlacer {
    text-align: center
}
.Allan {
    background-color: gold;
    width: 150px;
    height: 200px;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
}
/* A vous de faire votre propre feuille de styles en dessous !! */
